<div class="container">
	<div id="graph-price-index-container" class="col-md-12"></div>
	<!-- <div class="col-md-12">
		<div id="graph-increasing-price-reasons" class="col-md-6"></div>
		<div id="graph-decreasing-price-reasons" class="col-md-6"></div>
	</div> -->
</div>